<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

    <div fxFlex="40" *ngIf="med" >
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>{{med.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{med.image}}>
        
        <mat-card-content>
          <p>{{med.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="goBack()">BACK</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  

  <div fxFlex="40" *ngIf="med">
    <mat-list>
      <mat-list-item>
        <h2> Comments </h2>        
      </mat-list-item>
      <mat-list-item *ngFor="let comment of med.comments">
        <p mat-line>
          <span> {{comment.comment}} </span>
        </p>
        <p mat-line>
          <span> {{comment.rating}} Stars</span>
        </p>
        <p mat-line>
          <span> -- {{comment.author}} {{comment.date | date}} </span>
        </p>
      </mat-list-item>
    </mat-list>
  </div>

</div>